<div class="tabs-content">
  <h2><%=  assignment_and_author_information(@correction) %> </h2>
  <p class="lead"><%= solution_abridged_info(@correction.solution) %></p>
  <p>
  <a href="mailto:#"><%= @correction.solution.account.email %></a> | 
  <%= @correction.solution.account.tag %> | Resultado test: <%= t @correction.solution.test_result %> <% if @correction.solution.assignment.solution_type == 'link' %>
       | Link a entrega: <a href="<%= @correction.solution.link %>" target="_blank"><%= @correction.solution.link %></a> 
  <% end %>
  </p>
  <p>
  <%= "#{t('solutions.form.comments')}" %>: 
  <%= @correction.solution.comments %>
  </p>
  <br>
  <% form_for :correction, url(:corrections, :create, @correction.solution.id), :method => :post, :class => 'form-horizontal' do |f| %>
    <%= partial 'corrections/form', :locals => { :f => f } %>
  <% end %>
</div>
